* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  max-width: 630px;
  font-family: @df-sans;
}

.outmost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  padding: 20px 0;
  margin: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;

  @media @mobile {
    font-size: 26px;
  }
}

.chatter {
  font-size: 14px;
  padding-bottom: 15px;
}

.controls {
  text-align: center;
  font-size: 22px;
  padding-top: 15px;

  @media @break {
    padding-top: 8px;
  }

  .fa {
    cursor: pointer;

    &:hover {
      color: #f57d20;
    }
  }

  .fa.left {
    margin-right: 10px;
  }
  .fa.right {
    margin-left: 10px;
  }
}

.container {
  .display-flex();

  @media @break {
    display: block;
  }
}

.map-container {
  max-width: 360px;

  @media @break {
    margin: auto;
  }

  .aspect-ratio-outer {
    position: relative;
    .flex(1);

    @media @mobile {
      width: 75%;
      margin: auto;
    }

    .aspect-ratio-inner {
      padding-bottom: percentage(10/7);
      position: relative;
    }

    leaflet-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:not([ready]) {
        display: none;
      }
    }

    leaflet-map, .leaflet-clickable {
      cursor: default;
    }

    .leaflet-marker-icon {
      background: #644c9f !important;
      color: white;
      border-radius: 50%;
      width: 24px !important;
      height: 24px !important;
      margin-left: -14px !important;
      text-align: center;
      line-height: 22px;

      &.active {
        background: #f57d20 !important;
        border: 1px solid #f57d20;
      }
    }
  }
}

.timeline {
  max-width: 270px;
  padding-top: 8px;

  @media @break {
    max-width: 360px;
    width: 75%;
    margin: auto;
    padding-top: 0;
  }

  .stop {
    font-size: 12px;
    border-left: 4px solid #4abe9d;
    margin-left: 30px;
    padding-left: 20px;
    padding-bottom: 8px;
    position: relative;

    @media @break {
      display: none;
      border: none;
      margin-left: 12px;
    }

    &:hover {
      cursor: pointer;

      @media @break {
        cursor: default;
      }

      .description, .time {
        font-weight: bold;
        font-size: 13px;
      }
      .description {
        font-style: italic;
      }
    }

    &.last {
      border: none;
      border-left: 4px solid white;
    }

    &.line {
      .dot {
        background: white;
        border: 4px solid #4abe9d;

        @media @break {
          border-color: #f57d20;
          background: white !important;
        }
      }
    }

    &.current {
      .description, .time {
        font-weight: bold;
        font-size: 13px;
      }
      .description {
        font-style: italic;
      }
      .dot {
        background: #f57d20;
      }

      @media @break {
        display: block;

        .description {
          font-weight: normal;
          font-style: normal;
        }
        .dot {
          background: #f57d20;
        }
      }
    }

    .dot {
      position: absolute;
      left: -12px;
      height: 20px;
      width: 20px;
      background: #644c9f;
      border-radius: 50%;
      color: white;
      text-align: center;
      line-height: 22px;
    }

    .time {
      font-weight: bold;
    }
  }
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;

  @media @break {
    display: none;
  }
}

.mobile.source, .mobile.credit {
  display: none;

  @media @break {
    display: block;
  }
}