* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  max-width: 630px;
  font-family: @df-sans;
}

.outmost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  padding: 20px 0;
  margin: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 14px;
}

.controls {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 12px;

  .fa.left {
    margin-right: 10px;
  }
  .fa.right {
    margin-left: 10px;
  }
}

.container {
  .display-flex();
}

.map-container {
  max-width: 360px;

  .aspect-ratio-outer {
    position: relative;
    .flex(1);

    .aspect-ratio-inner {
      padding-bottom: percentage(10/7);
      position: relative;
    }

    leaflet-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:not([ready]) {
        display: none;
      }
    }

    .leaflet-marker-icon {
      background: #644c9f !important;
      color: white;
      border-radius: 50%;
      width: 24px !important;
      height: 24px !important;
      margin-left: -14px !important;
      text-align: center;
      line-height: 22px;
    }
  }
}

.timeline {
  display: inline-block;
  max-width: 270px;

  .stop {
    font-size: 12px;
    border-left: 4px solid #4abe9d;
    margin-left: 30px;
    padding-left: 15px;
    padding-bottom: 8px;
    position: relative;

    &.last {
      border: none;
      border-left: 4px solid white;
    }

    &.line {
      .dot {
        background: white;
        border: 4px solid #4abe9d;
      }
    }
    &.current {
      font-weight: bold;
      font-size: 13px;
      .time {
        font-weight: normal;
      }
      .dot {
        background: #f57d20;
      }
    }

    .dot {
      position: absolute;
      left: -12px;
      height: 20px;
      width: 20px;
      background: #644c9f;
      border-radius: 50%;
      color: white;
      text-align: center;
      line-height: 22px;
    }

    .time {
      font-weight: bold;
    }
  }
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}