<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outmost">
        <div class="container">
          <div class="title">Simon Nakhale's commute</div>
          <div class="chatter">A typical workday for Simon Nakhale starts at 1:40 a.m. and involves about three hours of commuting.</div>

          <div class="aspect-ratio-outer">
            <div class="aspect-ratio-inner">
              <leaflet-map lat="47.51" lng="-122.211" zoom=10>
                <tile-layer layer="cartoPositron"></tile-layer>
              </leaflet-map>
            </div>
          </div>

          <div class="source"><em>
            Source: Simon Nakhale</em>
          </div>
          <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
        </div>
      </div>
    </responsive-child>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
